<template name="header">
<div class="header">
	<ul class="nav nav-pills pull-right">
	  	<li class="{{#if currentPageIs 'homePage'}}active{{/if}}">
	  		<a href="{{pathFor 'homePage'}}">Home</a>
	  	</li>
  		<li class="{{#if currentPageIs 'produtoresPage'}}active{{/if}}">
  			<a href="{{pathFor 'produtoresPage'}}">Agricultures</a>
  		</li>
  		<li class="{{#if currentPageIs 'lojasPage'}}active{{/if}}">
  			<a href="{{pathFor 'lojasPage'}}">Lojas e Mercados</a>
  		</li>
  		<li class="{{#if currentPageIs 'restaurantesPage'}}active{{/if}}">
  			<a href="{{pathFor 'restaurantesPage'}}">Restauração</a>
  		</li>
  		<li class="{{#if currentPageIs 'sobrePage'}}active{{/if}}">
  			<a href="{{pathFor 'sobrePage'}}">Sobre</a>
  		</li>
	</ul>
	<h3 class="text-muted"><a href="{{pathFor 'homePage'}}">Projeto Ceres</a></h3>
</div>
</template>
