<template name="homePage">

<div class="alert alert-info">
	É um agricultor ou proprietário de loja ou restaurante? Preencha o <a href="{{pathFor 'inqueritoPage'}}" class="alert-link">nosso inquérito</a> para que o possamos ajudar melhor. <a href="{{pathFor 'inqueritoPage'}}" class="alert-link">Clique aqui para acerder ao inquérito.</a>
</div>

<div class="jumbotron">
    <h1 class="cover-heading">Promoção da rede alimentar de Coimbra</h1>
	<p class="lead">Saiba onde encontrar produtos agricolas biológicos em Coimbra</p>
	<p class="lead">
		<a href="{{pathFor 'produtoresPage'}}" class="btn btn-lg btn-default">Agricultores</a>
		<a href="{{pathFor 'lojasPage'}}" class="btn btn-lg btn-default">Lojas e Mercados</a>
		<a href="{{pathFor 'restaurantesPage'}}" class="btn btn-lg btn-default">Restaurantes</a>
	</p>

	<A href="{{pathFor 'submitPage'}}" class="">Submeter Estabelecimento</a>
</div>
</template>
