<template name="homePage">
<div class="jumbotron">
    <h1 class="cover-heading">Promoção da rede alimentar de Coimbra</h1>
	<p class="lead">Saiba onde encontrar produtos agricolas biológicos em Coimbra</p>
	<p class="lead">
		<a href="{{pathFor 'produtoresPage'}}" class="btn btn-lg btn-default">Agricultores</a>
		<a href="{{pathFor 'lojasPage'}}" class="btn btn-lg btn-default">Lojas e Mercados</a>
		<a href="{{pathFor 'restaurantesPage'}}" class="btn btn-lg btn-default">Restaurantes</a>
	</p>
</div>
</template>