.admin-produtores-edit-photos li {
	width: 100px;
	position: relative;
	margin-bottom: 10px;
}

.admin-delete-photo-btn {
	position: absolute;
	top: 0px;
	right: 0px;
}

.admin-remove-produtor.form-group {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}