.admin-produtores-edit-photos-item {
	width: 100px;
	position: relative;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
}

.admin-produtores-edit-photos-list {
	margin-bottom: 15px;
}

.admin-delete-photo-btn {
	position: absolute;
	top: 0px;
	right: 0px;
}

.admin-remove-produtor.form-group {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}