.footer .heart {
	color: red;
}

.footer {
	text-align: center;
}

.spinner-container {
	min-height: 100px;
}

.produtor-page-head-image {
	max-height: 300px;
	overflow: hidden;
	border-radius: 5px;
}

.produtor_page_head_image {
	width: 700px;
}

.produtores-list-item {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-left: 15px;
}