.footer .heart {
	color: red;
}

.footer {
	text-align: center;
}

.spinner-container {
	min-height: 100px;
}

.resource-page-head-image {
	max-height: 300px;
	overflow: hidden;
	border-radius: 5px;
}

.resource_page_head_image {
	width: 700px;
}

.resource-list-item {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-left: 15px;
}

.description-pre {
  color: rgb(51, 51, 51);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 0px;
}