<template name="adminPage">
	{{> adminHead}}
	
	<h2>Agricultores</h2>

	<p><a href="{{pathFor 'adminProdutorCreateItem'}}"><span class="glyphicon glyphicon-plus"></span> Novo</a></p>

	{{> adminProdutoresList}}


	<h2>Lojas e Mercados</h2>

	<p><a href="{{pathFor 'adminLojaCreateItem'}}"><span class="glyphicon glyphicon-plus"></span> Novo</a></p>

	{{> adminLojasList}}


	<h2>Restaurantes</h2>

	<p><a href="{{pathFor 'adminRestauranteCreateItem'}}"><span class="glyphicon glyphicon-plus"></span> Novo</a></p>

	{{> adminRestaurantesList}}
</template>